@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import '../../styles/scss/vars.scss';

.c-select {
  width: 100%;

  .dropdown {
    .dropdown-toggle,
    .selected-items {
      font-family: 'SintonyRegular', sans-serif;
    }

    .btn-outline-dark {
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit;
    }

    .btn-outline-dark:active,
    .btn-outline-dark:focus,
    .btn-outline-dark {
      //background-color: $gray-100;
      color: $gray-900;
    }

    .btn-outline-dark:hover {
      background-color: $secondary !important;
      color: $light;
    }

    .dropdown-menu {
      border-color: $gray-500;
      background-color: $custom-white;

      ul {
        overflow-y: auto;
        max-height: calc(3*($dd-font-size + 8px)*$lh-1 + 8px);
      }

      .dropdown-item {
        cursor: pointer;
      }

      .dropdown-item:hover {
        background-color: $blue;
        color: $white;
      }

      .hidden {
        display: none;
      }

      .dropdown-item,
      .form-control::placeholder {
        font-family: 'SintonyRegular', sans-serif;
        letter-spacing: 2px;
      }

      .form-control:focus {
        border-color: $input-border-color;
      }
    }
  }

  .selected-items {
    min-height: 2.125em;
  }

  .selected-items > div {
    background-color: $cyan;
    border-radius: 5px;

    .btn-close {
      padding: 0;
      width: $btn-close-size;
      height: $btn-close-size;
    }

    .btn-close:focus {
      box-shadow: none;
    }
  }
}
