- const columns = ['Location', 'Pad', 'Dist St', 'Distance', 'Supply', 'Price', 'Updated at']

.table-responsive-lg
    table.c-table.table.table-striped.table-bordered.table-sm.rounded-2.overflow-hidden
        thead
            tr
                each val in columns
                    th.bg-light-orange(scope='col') #{val}
        tbody.table-group-divider
            tr
                each val in columns
                    td.text-start #{val} value

            tr
                each val in columns
                    td.text-start #{val} value
            tr
                each val in columns
                    td.text-start #{val} value