@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

.c-dropdown {
  width: 100%;

  .dropdown {
    .dropdown-menu {
      border-color: $gray-500;

      .dropdown-item {
        cursor: pointer;
      }

      .dropdown-item:hover {
        background-color: $blue;
        color: $white;
      }
    }
  }

  .selected-items > div {
    background-color: $cyan;
    border-radius: 5px;
  }

  .dropdown-item,
  input::placeholder {
    font-family: 'SintonyRegular', sans-serif;
    letter-spacing: 2px;
  }
}
