@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../customSelect/customSelect.scss";
@import "../inputDropdown/inputDropdown.scss";
@import "../commoditiesTable/commoditiesTable.scss";


.c-form {
  background-color: $custom-white;
  font-family: 'SintonyBold', sans-serif;
  letter-spacing: 2px;

  select,
  option {
    font-family: 'SintonyRegular', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .btn-violet {
    font-family: 'SintonyBold', sans-serif;
    letter-spacing: 4px;
  }

  .buy-sell-switch {
    label {
      background-color: $secondary-bg-subtle;
    }

    label:hover,
    .btn-check:checked+.btn{
      background-color: $custom-light-orange;
    }
  }
}


