extends components/layouts/mainLayout.pug

block header
    include components/header/header.pug
block main
    main.flex-grow-1
        .wrapper.d-flex.flex-column.h-100
            .cnt.container-xl.px-4.d-flex
                .d-flex.flex-column.w-100.gap-5
                    include components/commoditiesForm/commoditiesForm.pug
                    include components/commoditiesTable/commoditiesTable.pug
                    include components/pagination/pagination.pug

block footer
    include components/footer/footer.pug