extends components/layouts/mainLayout.pug

block header
    include components/header/header.pug
block main
    main
        .wrapper.d-flex.flex-column
            .container
                include components/commoditiesForm/commoditiesForm.pug
block footer
    include components/footer/footer.pug
