@import 'fonts.scss';
@import 'vars.scss';
@import '../../components/commoditiesForm/commoditiesForm.scss';
@import '../../components/header/header.scss';


.body-wrapper {
    height: 100vh;
}

main {
    font-family: 'SintonyRegular', sans-serif;
    font-weight: 400;
    height: 100vh;
    background-color: $main-background;
}

a {
    color: inherit
}

button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
}

input {
    outline: 0;
}

.cnt {
    max-width: 1280px;
    margin: 0 auto;
}
