@import 'fonts.scss';
@import "../../components/commoditiesForm/commoditiesForm.scss";

.wrapper {
    font-family: 'SintonyRegular', sans-serif;
    font-weight: 400;
    height: 100vh;
}

a {
    color: inherit
}

button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

input {
    outline: 0;
}

.container {
    width: 700px;
    margin: 0 auto;
}
